* {
    margin: 0px;
}

html, body, .content {
    min-height: 100vh;
    text-align: center;
}

.content {
    width: 90%;
    margin: auto;
}

.content * {
    width: 100%;
}

#chatarea {
    margin-top: 15px;
    height: 90vh;
    resize: none;
}

#sendtext {
    width: calc(80% - 4px);
}

#channel {
    width: calc(20% - 16px);
}

form * {
    margin: 4px;
}
